

.main-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.container{
  width: 60%;
  height: 60%;
  margin: 0 auto;
  background-color: red; /* DEBUGGARE */
}


.slider{
  height: 100%;
  position: relative;
}

.pictures-container{
  height: 100%;
}

.pictures-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slide-btn{
  position: absolute;
  background-color:rgba(0, 0, 0, 0.521);
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  left: 50%;
  transform: translatex(-50%);
}

.slide-btn.top {
  top: 15px;
}

.slide-btn.bot {
  bottom: 15px;
}

.btn-arrow:hover{
  background-color: purple;
}